In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Loading tesla data and analyzing

In [5]:
df = pd.read_csv("C:/Users/alexs/Downloads/TESLA.csv")
df

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,6/29/10,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,1,6/30/10,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,2,7/1/10,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,3,7/2/10,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,4,7/6/10,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...,...,...
3632,3632,12/3/24,351.799988,355.690002,348.200012,351.420013,351.420013,58267200
3633,3633,12/4/24,353.000000,358.100006,348.600006,357.929993,357.929993,50810900
3634,3634,12/5/24,359.869995,375.429993,359.500000,369.489990,369.489990,81403600
3635,3635,12/6/24,377.420013,389.489990,370.799988,389.220001,389.220001,81455800
3636,3636,12/9/24,397.609985,404.799988,378.010010,389.790008,389.790008,96359200

# Transform the Date column into date format

In [6]:
df["Date"] = pd.to_datetime(df['Date'])

C:\Users\alexs\AppData\Local\Temp\ipykernel_6240\1273784575.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Date"] = pd.to_datetime(df['Date'])

# Daily variation (High - Low):

In [7]:
df["Daily Range"] = df["High"] - df["Low"]

# Daily return:

In [8]:
df["Daily Return"] = df["Close"].pct_change()

# Moving averages (7 and 30 days):

In [9]:
df['MA_7'] = df['Close'].rolling(window=7).mean()
df['MA_30'] = df['Close'].rolling(window=30).mean()

# Scale prices or volumes to facilitate comparisons:

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[['Open', 'High', 'Low', 'Close']] = scaler.fit_transform(df[['Open', 'High', 'Low', 'Close']])

In [11]:
df

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Daily Range,Daily Return,MA_7,MA_30
0,0,2010-06-29,0.000465,0.001350,0.000422,0.001319,1.592667,281494500,0.497334,NaN,NaN,NaN
1,1,2010-06-30,0.001568,0.002224,0.001371,0.001309,1.588667,257806500,0.474667,-0.002511,NaN,NaN
2,2,2010-07-01,0.001439,0.001498,0.000871,0.001004,1.464000,123282000,0.376667,-0.078473,NaN,NaN
3,3,2010-07-02,0.001114,0.001043,0.000614,0.000554,1.280000,77097000,0.292667,-0.125683,NaN,NaN
4,4,2010-07-06,0.000627,0.000543,0.000140,0.000051,1.074000,103003500,0.278000,-0.160937,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3632,3632,2024-12-03,0.854603,0.857745,0.857991,0.856817,351.420013,58267200,7.489990,-0.015878,345.134290,302.120667
3633,3633,2024-12-04,0.857527,0.863574,0.858979,0.872737,357.929993,50810900,9.500000,0.018525,345.901433,306.786000
3634,3634,2024-12-05,0.874267,0.905496,0.885915,0.901007,369.489990,81403600,15.929993,0.032297,350.315717,311.980667
3635,3635,2024-12-06,0.917031,0.939508,0.913839,0.949256,389.220001,81455800,18.690002,0.053398,357.600002,316.272000
3636,3636,2024-12-09,0.966228,0.976543,0.931656,0.950650,389.790008,96359200,26.789978,0.001464,365.728572,320.292000